<!doctype html>
<html ng-app="paApp">

<head>
    <meta charset="utf-8">
    <title>pa rakink</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="/js/pa.js"></script>
</head>

<body ng-controller="AccessController as ac">

    <div class="container">
        <div class="row top-row">
        </div>
        <div class="row">
            <div class="col-lg-2">
                <img class="logo-small" src="img/logo_small.png" />
            </div>
            <div class="col-lg-10">
                <h1>{{user.email}}</h1>

                <div class="form-group form-inline">
                    <label for="nfcId">card number : </label>
                    <input ng-show="editMode" ng-model="user.tagId" type="text" class="form-control" id="nfcId" placeholder="card number" ng-readonly="!editMode" ng-keyup="$event.keyCode == 13 && update()">
                    <span class="editable-field" ng-show="!editMode" ng-click="editMode = true">{{user.tagId}}</span>

                </div>

                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="update()">{{editMode ? 'save' : 'edit'}}
                    <span class="glyphicon" ng-class="{true: 'glyphicon-edit', false: 'glyphicon-ok'}[!editMode]" aria-hidden="true"></span>
                </button>
                <a href="/logout">
                    <button type="button" class="btn btn-default" aria-label="Left Align">logout <span class="glyphicon glyphicon-log-out"></span>
                    </button>
                </a>
            </div>
        </div>


    </div>




</body>

</html>